*{
    margin: 0;
    padding: 0;
}    
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("pexels-chevanon-photography-1108099.jpg");
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 3%;
}
img{
    border-radius: 50%;
}
.menu{
    width: 400px;
    float: left;
    height: 90px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 80px;
    margin-top: 10px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
ul li a:hover{
    color: rgb(252, 204, 151);

}
.content{
    text-align: left;
    
}